.navigacija li {
  float: right;
  text-decoration: none;
  list-style: none;
  padding-right: 20px;
}

.navigacija ul{
  list-style: none;
}

.navigacija a {
  display: block;
  padding: 8px;
  padding-bottom: 5px;
  color: whitesmoke;
  text-decoration: none;
}

.navigacija{
  display: block;
  height: 40px;
  text-align: center;
  background: #3f0303;
  color: white;
  font-size: 20px;
}   

body{
  background-color: #7a1212;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.paragraf{
  display: block;
  text-align: left;
  color: whitesmoke;
  font-size: 20px;
  margin-top: auto;
 
  top: 70px;
  font-size: 25px;
  padding-left: 40px;
  padding-right: 30px;
}

.životinje{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
  padding: 10px;
}

.prijatelji{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
  padding-top: 20px;
}

.posteri{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
}

h3{
  color: whitesmoke;
  padding-left: 20px;
  padding-top: 20px;
  text-decoration: underline;
}

.video iframe{
  width: 1000px;
  height: 650px;
}

.videotekst a{
  color: wheat;
  text-decoration:wavy;
  list-style: none;
  padding-left: 20px;
  font-size: 18px;
  justify-content: center;
}

.video{
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  padding: 10px;
}


.linkovi a{
  color: wheat;
  text-decoration: none;
  padding-left: 20px;
  padding-bottom: 20px;
  font-size: 18px;
}



